/* -------------------------------------------

Name: 		Kinsley
Version:  1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */
/*--------------------------------------------

1. common
      - fonts
      - typography
      - image
      - quote
      - badge
      - button
      - link
      - universal slider
      - grid
      - section transitions
      - spaces
2. frame
      - page marcup
      - preloader
      - top bar
      - menu
      - mobile menu button
      - popup
3. content
      - banner
      - icon box
      - quote
      - gallery
      - about
      - video
      - cards
      - service cards
      - testimonials
      - team
      - faq
      - side menu
      - pagination
      - filter
      - scroll animation
      - breadcrumbs
      - 404
      - room details slider
      - price
      - detail features
      - map
      - reviews
      - publication
      - footer
4. form

--------------------------------------------*/
@import 'variables';
@import 'common';
@import 'frame';
@import 'content';
@import 'form';
